.hamburgerMenu {
  background-color: red;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  text-align: center;
  transform: translateX(50%);

  &__list {
    list-style-type: none;
  }
}
