@use "styles/abstracts/mixins";
@use "styles/abstracts/mixins/typography";
@use "styles/abstracts/variables/colors";

.socialLinks {
  display: flex;
  gap: 1.5rem;
  font-weight: 700;

  &__item {
    @include typography.bodySmall;

    transition: color 0.5s ease;
    &:hover {
      color: colors.$white;
    }
  }
}

.isStacked {
  flex-direction: column;
}
