.work {
    background: var(--color-white);
    box-sizing: border-box;
    padding: 12vw 0 14vw 0;
    width: 100%;

    @media (min-width: 1024px) {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        max-width: 1200px;
        padding: 5vw 0 5vw 0;
      }

    &__carousel {
        display: flex;
        overflow-x: scroll;
        padding: 7vw;
        scroll-padding: 7vw;
        scroll-snap-type: x mandatory;
        gap: 10px;
        box-sizing:border-box;
        
        @media (min-width: 1024px) {
            padding: 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 10px;
            row-gap: 15px;
            overflow-x: unset;
        }
    }

    ::-webkit-scrollbar {
        height: 5px;
      }

    ::-webkit-scrollbar-track {
        margin: 0 7vw;
        background-color: var(--color-beige);
        border-radius: 10px;
    }
      
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--color-orange);
    }
}