.work {
    background: var(--color-white);
    box-sizing: border-box;
    padding: 0 0 10vw 0;

    &__heading {
        font-size: 30px;
        font-weight: 800;
    }

    &__carousel {
        display: flex;
        overflow-x: scroll;
        padding: 7vw;
        scroll-padding: 7vw;
        scroll-snap-type: x mandatory;
        gap: 10px;
        box-sizing:border-box
    }

    ::-webkit-scrollbar {
        height: 5px;
      }

    ::-webkit-scrollbar-track {
        margin: 0 7vw;
        background-color: var(--color-beige);
        border-radius: 10px;
    }
      
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--color-orange);
    }
}