.cursor {
  @media (min-width: 1024px) {
    background-color: var(--color-orange);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: background-color 0.3s;
    z-index: 999;

    &.down {
      background-color: var(--color-green);
    }
  }
}
