.me {
    background-color: var(--color-beige);

    @media (min-width: 1024px) {
        background-color: var(--color-beige);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 6vw 5vw;
    }

    &__container {
        @media (min-width: 1024px) {
            max-width: 1200px;
        }
    }

    &__introWrapper {
        @media (min-width: 1024px) {
            display: flex;
        }
    }
      
    &__intro {
        @media (min-width: 1024px) {
            width: 50%;
            padding: 0 30px 0 0;
        }
    }

    &__subHeading {
        color: var(--color-orange);
        margin: 0 0 25px 0;
    }

    &__synopsis {
        // 
    }

    &__text {
        color: var(--color-gray);
        size: 16px;
        line-height: 1.4;
        font-weight: 300;
        font-family: 'Kantumruy Pro', sans-serif;
        margin: 30px 0 0 0;
    }

    &__skills {
        margin: 30px 0;

        @media (min-width: 1024px) {
            width: 50%;
            padding: 0 0 0 30px;
        }
    }

    &__skillsGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 15px;
    }

    &__skillWrapper {
        display: flex;
        align-items: center;
    }

    &__skillIcon {
        width: 15%;
        margin: 0 8px 0 0;

        @media (min-width: 1024px) {
            width: 12%;
            margin: 0 14px 0 0;
        }
    }

    &__skillTitle {
        color: var(--color-gray);
        font-size: 14px;
        font-family: 'Kantumruy Pro', sans-serif;
        font-weight: 300;

        @media (min-width: 1024px) {
            font-size: 16px;
        }
    }

    &__icons {
        display: flex;
        gap: 10px;
    }

    &__socialIcon {
        box-sizing: border-box;
        width: 100%;
        height: 50px;
        transform: translateY(-3px);
        background: var(--color-beige);
        border-radius: 25px;
        border: 2px solid var(--color-orange);
        padding: 5px 0;

        display: flex;
        align-items: center;
        justify-content: center;
            
        filter: drop-shadow(0 4px 0 var(--color-orange));

        &:active {
            transform: translateY(0px);
            filter: none;
        }

        @media (min-width: 1024px) {
            width: fit-content;
            padding: 10px 15px;
            gap: 10px;

            &:hover {
                cursor: pointer;
                filter: drop-shadow(0 4px 0 var(--color-green));
                border: 2px solid var(--color-green);
                background: var(--color-orange);
    
                .me__fontAwesomeIcon,
                .me__socialIconTitle {
                    color: var(--color-white)
                } 
            }

            &:active {
                transform: translateY(0px);
                filter: none;
            }
        }
    }

    &__fontAwesomeIcon {
        height: 100%;
    }

    &__socialIconTitle {
        display: none;

        @media (min-width: 1024px) {
          display: block;
        }
    }
}