@use "styles/abstracts/mixins";
@use "styles/abstracts/variables/colors";

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at 0% 20%, #333, rgb(0, 0, 0) 60%);
  background-size: 170% 170%;
  animation: gradient 10s ease infinite;

  @include mixins.breakpoint(md) {
    background: radial-gradient(circle at 0% 70%, #333, rgb(0, 0, 0) 40%);
    background-size: 180% 180%;
    animation: gradient 15s ease infinite;
  }

  &__text {
    align-self: center;
    // text-align: center;
    cursor: default;
    order: 1;
  }

  &__title {
    font-size: calc(44px + 6 * ((100vw - 20px) / 1000));
    position: relative;
    z-index: 1;
    line-height: 1;
    width: fit-content;
    color: colors.$lightGray;
    margin: 1rem 0;
    transition: all 0.5s ease;

    span {
      font-weight: 700;
    }

    // background: -webkit-linear-gradient(
    //   300deg,
    //   colors.$brightGreen 10%,
    //   colors.$darkGray
    // );
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;

    @include mixins.breakpoint(md) {
      font-size: calc(60px + 6 * ((100vw - 20px) / 1000));
      margin: 0;
    }
  }

  &__subtitle {
    color: colors.$middleGray;
    margin: 0 0 2rem 0;
    line-height: 1;
    position: relative;
    z-index: 1;
    width: fit-content;
    font-size: calc(44px + 6 * ((100vw - 20px) / 1000));
    transition: all 0.5s ease;

    @include mixins.breakpoint(md) {
      font-size: calc(60px + 6 * ((100vw - 20px) / 1000));

      &::after {
        content: "";
        width: 101%;
        height: 100%;
        background-color: colors.$brightGreen;
        position: absolute;
        top: 0;
        left: -1rem;
        z-index: -1;
        border-radius: 50px;

        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s ease;
      }

      &:hover {
        &::after {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
  }

  &__summary {
    color: colors.$gray;
    font-size: calc(12px + 6 * ((100vw - 20px) / 1000));
    width: 50%;
  }

  &__buttons {
    display: flex;
    gap: 1rem;

    @include mixins.breakpoint(md) {
      flex-direction: row;
    }
  }

  &__image {
    align-self: center;
    justify-self: flex-end;
    order: 0;

    @include mixins.breakpoint(md) {
      order: 1;
    }
  }
}
