@use "styles/abstracts/mixins";
@use "styles/abstracts/variables/colors";

.skill {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: colors.$black;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  cursor: default;
  user-select: none;
  border: 1px solid colors.$black;
  transition: border 0.3s ease;

  @include mixins.breakpoint(md) {
    padding: 0.75rem 1.25rem;
    gap: 1rem;
  }

  &:hover {
    border: 1px solid colors.$gray;
  }

  &__icon {
    height: 1rem;
    display: flex;

    @include mixins.breakpoint(md) {
      height: 1.5rem;
    }
  }
}
