@use "styles/abstracts/mixins";

.container {
  --container-padding: 1.5rem;
  --container-top-bottom-padding: 5rem;
  --container-width: 100%;
  --container-max-width: 1400px;

  @include mixins.breakpoint(xs) {
    width: var(--container-width);
    max-width: var(--container-max-width);
    padding: var(--container-top-bottom-padding) var(--container-padding);
    margin: 0 auto;
  }

  @include mixins.breakpoint(md) {
    --container-padding: 2rem;
    --container-top-bottom-padding: 10rem;
  }
}
