.navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7vw;
    position: fixed;
    z-index: 99;

    @media (min-width: 1024px) {
        padding: 2vw;
      }

    &__logoWrapper {
        display: flex;
        align-items: center;
      }
  }

  
