@use "styles/abstracts/mixins";
@use "styles/abstracts/mixins/typography";
@use "styles/abstracts/variables/colors";

.footer {
  &__container {
    padding-top: 6rem;
    padding-bottom: 2rem;

    @include mixins.breakpoint(md) {
      padding-top: 7rem;
      padding-bottom: 3rem;
    }
  }

  &__row {
    row-gap: 8rem;
    grid-template:
      "info "
      "social";

    @include mixins.breakpoint(md) {
      row-gap: 0;
      grid-template:
        "info  social" auto
        "info  .     " 0.75rem;
    }
  }

  &__info {
    display: grid;
    grid-area: info;
    grid-template:
      "title " 0.5fr
      "links " auto;
    grid-gap: 1.5rem;
  }

  &__title {
    grid-area: title;
    font-weight: 500;
  }

  &__links {
    grid-area: links;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__link {
    @include typography.bodyLarge;

    color: colors.$white;
    width: fit-content;
    transition: color 0.5s ease;

    &:hover {
      color: colors.$brightGreen;
    }
  }

  &__social {
    display: grid;
    grid-gap: 2rem;
    grid-area: social;
  }

  &__socialLinks {
    justify-self: flex-start;

    @include mixins.breakpoint(md) {
      justify-self: flex-end;
    }
  }

  &__copyright {
    justify-self: flex-start;
    align-self: flex-end;
    line-height: 1;

    @include mixins.breakpoint(md) {
      justify-self: flex-end;
      align-self: flex-end;
    }
  }
}
