@use "styles/abstracts/mixins";
@use "styles/abstracts/variables/colors";

.navigationList {
  display: none;
  list-style-type: none;

  @include mixins.breakpoint(lg) {
    display: block;
    display: flex;
    gap: 25px;
  }

  &__item {
    font-weight: 500;
    transition: color 0.5s ease;

    &:hover {
      color: colors.$white;
    }
  }
}
