@use "styles/abstracts/mixins";
@use "styles/abstracts/variables";
@use "styles/abstracts/variables/colors";

.heading {
  font-size: calc(40px + 6 * ((100vw - 20px) / 1000));
  font-weight: 500;
  color: colors.$white;

  @include mixins.breakpoint(md) {
  }
}
