@use "styles/abstracts/variables/colors";
@use "styles/abstracts/mixins";

@keyframes color {
  0% {
    stroke: colors.$black;
  }
  50% {
    stroke: colors.$middleGray;
  }
  100% {
    stroke: colors.$black;
  }
}

.heroArt {
  display: none;

  @include mixins.breakpoint(md) {
    display: flex;
    align-self: flex-end;

    svg {
      width: 100%;
      stroke: colors.$black;
      animation: color 10s ease infinite;
    }
  }
}
