.container {
  position: relative;
  overflow: hidden;
}

.main {
  min-height: 100vh;
  flex: 1;
  background: var(--color-white);
  width: 100vw;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.title {
}

.header {
  position: relative;
  overflow: hidden;
}
