.container {
  position: relative;
  overflow: hidden;
}

.main {
  min-height: 100vh;
  flex: 1;
  background: var(--color-white);
  width: 100vw;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.title {
}

.header {
  position: relative;
  overflow: hidden;
}

.cursor {
  background-color: var(--color-orange);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: background-color 0.3s;

  &.down {
    background-color: var(--color-green);
  }
}
